ClientApp/Connected Services/ServiceRef/DbServiceForUwp2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55195/DbServiceForUwp.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CodeFirst.Entities" />
  <xs:import schemaLocation="http://localhost:55195/DbServiceForUwp.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ServiceForUWP" />
  <xs:element name="GetHistoryRowsJson">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoryRowsJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CodeFirst.Entities" minOccurs="0" name="GetHistoryRowsJsonResult" nillable="true" type="q1:ArrayOfHistoryRow" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHistoryRow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceForUWP" minOccurs="0" name="newRow" nillable="true" type="q2:Timetable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHistoryRowResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CodeFirst.Entities" minOccurs="0" name="newHistory" nillable="true" type="q3:ArrayOfHistoryRow" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHistoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHistoryRow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CodeFirst.Entities" minOccurs="0" name="row" nillable="true" type="q4:HistoryRow" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHistoryRowResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearHistory">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearHistoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>