ClientApp/Connected Services/ServiceRef/DbServiceForUwp.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DbServiceForUwp" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55195/DbServiceForUwp.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55195/DbServiceForUwp.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55195/DbServiceForUwp.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CodeFirst.Entities" />
      <xsd:import schemaLocation="http://localhost:55195/DbServiceForUwp.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ServiceForUWP" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDbServiceForUwp_GetHistoryRowsJson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHistoryRowsJson" />
  </wsdl:message>
  <wsdl:message name="IDbServiceForUwp_GetHistoryRowsJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHistoryRowsJsonResponse" />
  </wsdl:message>
  <wsdl:message name="IDbServiceForUwp_AddHistoryRow_InputMessage">
    <wsdl:part name="parameters" element="tns:AddHistoryRow" />
  </wsdl:message>
  <wsdl:message name="IDbServiceForUwp_AddHistoryRow_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddHistoryRowResponse" />
  </wsdl:message>
  <wsdl:message name="IDbServiceForUwp_AddHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:AddHistory" />
  </wsdl:message>
  <wsdl:message name="IDbServiceForUwp_AddHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IDbServiceForUwp_DeleteHistoryRow_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteHistoryRow" />
  </wsdl:message>
  <wsdl:message name="IDbServiceForUwp_DeleteHistoryRow_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteHistoryRowResponse" />
  </wsdl:message>
  <wsdl:message name="IDbServiceForUwp_ClearHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearHistory" />
  </wsdl:message>
  <wsdl:message name="IDbServiceForUwp_ClearHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearHistoryResponse" />
  </wsdl:message>
  <wsdl:portType name="IDbServiceForUwp">
    <wsdl:operation name="GetHistoryRowsJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IDbServiceForUwp/GetHistoryRowsJson" message="tns:IDbServiceForUwp_GetHistoryRowsJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDbServiceForUwp/GetHistoryRowsJsonResponse" message="tns:IDbServiceForUwp_GetHistoryRowsJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddHistoryRow">
      <wsdl:input wsaw:Action="http://tempuri.org/IDbServiceForUwp/AddHistoryRow" message="tns:IDbServiceForUwp_AddHistoryRow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDbServiceForUwp/AddHistoryRowResponse" message="tns:IDbServiceForUwp_AddHistoryRow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IDbServiceForUwp/AddHistory" message="tns:IDbServiceForUwp_AddHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDbServiceForUwp/AddHistoryResponse" message="tns:IDbServiceForUwp_AddHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteHistoryRow">
      <wsdl:input wsaw:Action="http://tempuri.org/IDbServiceForUwp/DeleteHistoryRow" message="tns:IDbServiceForUwp_DeleteHistoryRow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDbServiceForUwp/DeleteHistoryRowResponse" message="tns:IDbServiceForUwp_DeleteHistoryRow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IDbServiceForUwp/ClearHistory" message="tns:IDbServiceForUwp_ClearHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDbServiceForUwp/ClearHistoryResponse" message="tns:IDbServiceForUwp_ClearHistory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="DbServiceForUwp" />
</wsdl:definitions>