ClientApp/Connected Services/ServiceRef/DbServiceForUwp3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/CodeFirst.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CodeFirst.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55195/DbServiceForUwp.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfHistoryRow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HistoryRow" nillable="true" type="tns:HistoryRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHistoryRow" nillable="true" type="tns:ArrayOfHistoryRow" />
  <xs:complexType name="HistoryRow">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cps" type="xs:double" />
      <xs:element minOccurs="0" name="De" type="xs:double" />
      <xs:element minOccurs="0" name="Der" type="xs:double" />
      <xs:element minOccurs="0" name="HistoryRowId" type="ser:guid" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Type" type="tns:HistoryType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HistoryRow" nillable="true" type="tns:HistoryRow" />
  <xs:simpleType name="HistoryType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DeviceOff">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">48</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DeviceOn">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">49</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Background">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">70</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Alaram">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">65</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ChangedNCoefficent">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">83</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ChangedSinSignaling">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">115</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DerThreshold1Alarm">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">101</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DerThreshold2Alarm">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">69</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DeThresholdAlarm">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">68</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Calibration">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">67</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="HistoryType" nillable="true" type="tns:HistoryType" />
</xs:schema>