ClientApp/Connected Services/ServiceRef/DbServiceForUwp1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceForUWP" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceForUWP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Timetable">
    <xs:sequence>
      <xs:element minOccurs="0" name="busnumber" type="xs:short" />
      <xs:element minOccurs="0" name="busstation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Timetable" nillable="true" type="tns:Timetable" />
</xs:schema>